<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="index.html">YİĞİT<span>.</span></a>
		<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> MENÜ
		</button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Default")">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "About")">Hakkımda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Blog")">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "MyProjects")">Projeler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Contact")">İletişim</a>
                </li>


            </ul>
        </div>

	</div>
</nav>
