@model BlogDetailsViewModel

<section class="blog-details">
    <h2>@Model.Title</h2>
    <p>@Model.Content</p>
    <img src="@Model.Image" alt="@Model.Title" />
    <p><strong>Yazar:</strong> @Model.AuthorName</p>
</section>
